<div class="wrapper wrapper-full-page">
   <div class="page-header login-page header-filter background-page" filter-color="black">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
               <form action="" class="form ng-untouched ng-pristine ng-valid" method="" novalidate="">
                  <div class="card card-login">
                     <div class="card-header card-header-danger text-center">
                        <h4 class="card-title">inovvet</h4>
                        <div class="social-line">
                           <a class="btn btn-just-icon btn-link btn-white" href="https://www.facebook.com/inovvet.sistemaas">
                              <i class="fa fa-facebook-square"></i></a>
                           <a class="btn btn-just-icon btn-link btn-white"><i
                                 class="fa fa-twitter"></i></a>
                           <a class="btn btn-just-icon btn-link btn-white"><i
                                 class="fa fa-google-plus"></i></a>
                        </div>
                     </div>
                     <div class="card-body ">
                        <span class="bmd-form-group">
                           <div class="input-group">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="material-icons">face</i>
                                 </span>
                              </div>
                              <mat-form-field>
                                 <input matInput placeholder="usuário" type="text" id="inputUserName" #inputUsername>
                              </mat-form-field>
                           </div>
                        </span>
                        <span class="bmd-form-group">
                           <div class="input-group">
                              <div class="input-group-prepend"><span class="input-group-text"><i
                                       class="material-icons">lock_outline</i></span></div>
                              <mat-form-field>
                                 <input matInput placeholder="senha" type="password" id="inputPassword" #inputPassword>
                              </mat-form-field>
                           </div>
                        </span>
                     </div>
                     <div class="card-footer justify-content-center">
                        <a class="btn btn-rose btn-link btn-lg"
                           (click)="login(inputUsername.value, inputPassword.value );">Login</a>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>