<mat-form-field [hintLabel]="hLabel">
    <input matInput type="text" [placeholder]="formTitle" aria-label="Number" [matAutocomplete]="auto"
        [name]="fControlName" [formControl]="control" [(ngModel)]="value">

    <button mat-button matSuffix mat-icon-button  class="text-danger" *ngIf="value" aria-label="Clear"
        (click)="clear()">
        <mat-icon>clear</mat-icon>
    </button>
    <button  mat-button matSuffix mat-icon-button  aria-label="search" >
      <mat-icon>search</mat-icon>
    </button>
    <button  mat-button matSuffix mat-icon-button  aria-label="add"  class="text-success"  (click)="onAdicionar()">
        <mat-icon>add</mat-icon>
    </button>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="display"
        (optionSelected)="onSelecionar($event.option.value)">
        <mat-option *ngFor="let opcao of filteredOptions " [value]="opcao">
            {{opcao.nome}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>