<div class="main-content">
   <div class="container-fluid">
      <div class="card">
         <div class="card-header card-header-danger ">
            <div class="nav-tabs-navigation">
               <div class="nav-tabs-wrapper">
                  <h4 class="card-title text-tittle">Gerenciador de atendimentos</h4>

               </div>
            </div>
         </div>
         <div class="card-body">
            <nav class="navbar  bg-warning nav-menu">
               <div class="card-body card-menu">
                  <app-button type="primary" size="small" label="Filtros" (cClick)="onFiltrar()"
                     class="col-xs-12 col-md-4 "></app-button>
                  <app-button type="primary" size="small" label="Novo Agendamento" (cClick)="onNovoAtendimento()"
                     class="col-xs-12 col-md-4 "></app-button>
                      <app-button type="primary" size="small" label="Imprimir" (cClick)="onImprimir()"
                     class="col-xs-12 col-md-4 "></app-button>
               </div>
            </nav>
         </div>
         <div class="card-body" *ngIf="filtrar">
            <form [formGroup]="form" appFormValidator autocomplete="off">
               <div class="row">
                  <app-input-auto-complete [service]="clienteService" formTitle="Cliente" 
                     (changeAtualizar)="onAdicionarCliente($event)" class="col-md-3"></app-input-auto-complete>

                  <app-input-select-entity-base formTitle="Tipo" fControlName="tipoAtendimento" [formGroup]="form" [opcoes]="tipoAtendimentos" 
                           class="col-md-3" ></app-input-select-entity-base>

                  <app-input-select [opcoes]="status" fControlName="status" class="col-md-3" formTitle="Situação"
                     [formGroup]="form" multi="true"></app-input-select>

                  <app-input-date-range [fControlName]="intervalo" [formGroup]="form" default="true"
                     class="col-md-3" hLabel="Obrigatório"></app-input-date-range>
               </div>
               <div class="row">
                  <app-button type="info" label="Pesquisar" align="default" (cClick)="onPesquisar()"
                     class="col-xs-12 col-md-4 "></app-button>
               </div>
            </form>

         </div>

         <app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns" 
            (confirm)="onFinalizar($event)"
            (edit)="onEdit($event)"
            (delete)="onDelete($event.id, getDescricao($event))" [pageIndex]="pageIndex" [pagelength]="pagelength" 
            [pageSize]="pageSize" (page)="onPesquisar(pageIndex + 1)" ></app-table>

      </div>
   </div>
</div>
