<app-master-form [titulo]="tituloPagina">
   <div class='content'>
      <div class="container-fluid">
         <form [formGroup]="form" appFormValidator autocomplete="off" novalidate (ngSubmit)="onSalvar()">
            <mat-tab-group #matgroup>
               <mat-tab label="Dados Cadastrais">
                  <div class="card-body container-fluid-form">

                     <div class="row">
                        <app-input-text formTitle="Código" fControlName="id" [formGroup]="form" class="col-md-1"></app-input-text>
                        <app-input-select-entity-base formTitle="Departamento" fControlName="departamento" [formGroup]="form" 
                        [opcoes]=departamentos class="col-md-3" ></app-input-select-entity-base>
                     </div>
                     <div class="row">
                        <app-input-select-entity-base formTitle="Categoria" fControlName="categoria" [formGroup]="form" 
                           [opcoes]=categorias class="col-md-4" ></app-input-select-entity-base>                        
                     </div>
                     <div class="row">
                        <app-input-select-entity-base formTitle="Grupo" fControlName="grupo" [formGroup]="form" 
                           [opcoes]=grupos class="col-md-4" ></app-input-select-entity-base>
                     </div>

                     <div class="row">
                        <app-input-select-entity-base formTitle="SubGrupo" fControlName="subgrupo" [formGroup]="form" 
                           [opcoes]=subgrupos class="col-md-4" ></app-input-select-entity-base>
                        <app-input-active fControlName="ativo"  [formGroup]="form" class="col-md-2"></app-input-active>
                     </div>
                  </div>

               </mat-tab>
            </mat-tab-group>
            
           <app-button-save [formGroup]="form"></app-button-save>
         </form>
      </div>
   </div>
</app-master-form>