
/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: portrait){
   .mat-option {
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 12px !important;
   }
   
   .mat-optgroup .mat-option:not(.mat-option-multiple) {
      padding-left: 12px;
   }
 }
 