<mat-form-field>
   <input type="text" placeholder="Marca" aria-label="Number" matInput [matAutocomplete]="auto" id="inputMarca"
      [formControl]="form" [(ngModel)]="value">

   <button mat-icon-button matSuffix class="btn btn-danger btn-link " *ngIf="value" aria-label="Clear" (click)="value = ''">
      <mat-icon>clear</mat-icon>
   </button>

   <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="display"
      (optionSelected)="onAtualizar($event.option.value)">
      <mat-option *ngFor="let marca of filteredOptions " [value]="marca">
         {{marca.nome}}
      </mat-option>
   </mat-autocomplete>
  
</mat-form-field>
<div id="overlay">


</div>