<mat-expansion-panel [expanded]="expanded" (opened)="onExpanded()" (closed)="onExpanded(false)" #painel>
    <mat-expansion-panel-header>
        Novo Preço
    </mat-expansion-panel-header>
        <form [formGroup]="formPreco" appFormValidator autocomplete="off" novalidate (ngSubmit)="onSalvar()">
            <div class="card-body">
                <div class="row">
                    <app-input-select-loja ormTitle="Loja" fControlName="loja" info="Canal de venda do Preço"
                        [formGroup]="formPreco" hLabel="Obrigatório" class="col-md-4"></app-input-select-loja>
                </div>
                <div class="row">
                    <app-input-currency formTitle="Despesas Adicional" fControlName="despesaAdicional"
                        info="Valor adicional do Produto" [formGroup]="formPreco" prefix='R$' (change)="simularPreco()"
                        class="col-md-4">
                    </app-input-currency>

                    <app-input-number-percent formTitle="Despesa Fixa" fControlName="despesaFixa"
                        messageTooltip="Valor de impostos gerados na venda do serviço" [formGroup]="formPreco"
                        class="col-md-4">
                    </app-input-number-percent>

                    <app-input-number-percent formTitle="Despesa Váriavel" fControlName="despesaVariavel"
                        messageTooltip="Valor de impostos gerados na venda do serviço" [formGroup]="formPreco"
                        class="col-md-4">
                    </app-input-number-percent>
                </div>
                <div class="row">
                    <app-input-currency formTitle="Custo" hLabel="Obrigatório" fControlName="custo"
                        info="Valor de Custo do Produto" [formGroup]="formPreco" prefix='R$' (change)="simularPreco()"
                        class="col-md-4"></app-input-currency>

                    <app-input-currency formTitle="Margem Lucro" hLabel="Obrigatório" fControlName="margemLucro"
                        info="Percentual de Lucro" [formGroup]="formPreco" suffix='%' (change)="simularPreco()"
                        class="col-md-4"></app-input-currency>

                    <app-input-currency formTitle="Preço" hLabel="Obrigatório" fControlName="preco"
                        info="Preço Final apresentado ao consumidor" [formGroup]="formPreco" prefix='R$'
                        (change)="atualizar()" class="col-md-4"></app-input-currency>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats ml-auto">
                    <div class="card-stats">                
                        <div class="stats ml-auto">
                            <app-button  type="info" size="small" styles="outline" disabled="true" label="Markup: {{markup}}"></app-button>
                            <app-button  type="success" size="small" styles="outline" disabled="true" label="Lucro: R$ {{lucro | number}}"></app-button>               
                        </div>
                    </div>
                </div>                
            </div>            
        </form>
    <mat-action-row>
        <app-button name="btnAdicionarPreco" label="Adicionar" type="success" size="small" (cClick)="onSalvar()"></app-button>
    </mat-action-row>
</mat-expansion-panel>


<app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns" (edit)="onEdit($event)" (delete)="onDelete($event)"></app-table>