<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://inovgestao.com.br">
                        InovGestao 
                    </a>
                </li>
                <li>
                    <a href="https://www.inovvet.com.br/sobre">
                        Sobre
                    </a>
                </li>
                <li>
                    <a href="https://www.inovvet.com.br/blog">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.inovgestao.com.br/licences">
                        Licenças
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, feito com amor por
            <a href="https://www.inovgestao.com.br" target="_blank">InovGestão</a> para o seu Negócio.
        </div>
    </div>
</footer>
