<app-master-form titulo="Novo Atendimento">
  <div class="content">
    <div class="container-fluid">
      <form [formGroup]="form" appFormValidator autocomplete="off" novalidate>
        <mat-tab-group #matgroup (selectedIndexChange)="changeTab($event)">
          <mat-tab label="Dados Atendimento">
            <div class="card-body container-fluid-form">
              <div class="row">
                <app-input-text
                  formTitle="Código"
                  fControlName="id"
                  [formGroup]="form"
                  class="col-md-2"
                >
                </app-input-text>
                <app-input-select-entity-base
                  formTitle="Tipo"
                  fControlName="tipoAtendimento"
                  [formGroup]="form"
                  [opcoes]="tipoAtendimentos"
                  hLabel="Obrigatório"
                  class="col-md-4"
                  (change)="onChangeVagas()"
                >
                </app-input-select-entity-base>

                <app-input-date
                  formTitle="Data"
                  fControlName="data"
                  [formGroup]="form"
                  hLabel="Obrigatório"
                  curdate="true"
                  (dateChange)="onChangeVagas()"
                  class="col-md-3"
                ></app-input-date>

                <app-input-select-vaga
                  formTitle="Horário"
                  fControlName="vaga"
                  [formGroup]="form"
                  [opcoes]="vagas"
                  hLabel="Obrigatório"
                  class="col-md-3"
                ></app-input-select-vaga>
              </div>
              <div class="row">
                <app-input-auto-complete
                  [service]="clienteService"
                  [entity]="cliente"
                  formTitle="Cliente"
                  hLabel="Obrigatório"
                  (changeAtualizar)="onAdicionarCliente($event)"
                  (changeAdicionar)="cadatsrarCliente()"
                  class="col-md-6"
                ></app-input-auto-complete>

                <app-input-select-entity-base
                  formTitle="Animal"
                  fControlName="animal"
                  [formGroup]="form"
                  [opcoes]="animais"
                  hLabel="Obrigatório"
                  class="col-md-6"
                ></app-input-select-entity-base>
              </div>

              <div class="row">
                <app-input-text
                  formTitle="Telefone"
                  fControlName="telefones"
                  [formGroup]="form"
                  class="col-md-6"
                >
                </app-input-text>

                <app-input-select
                  formTitle="Status"
                  fControlName="status"
                  [formGroup]="form"
                  class="col-md-6"
                  hLabel="Obrigatório"
                  [opcoes]="status"
                ></app-input-select>
              </div>
              <div class="row">
                <app-input-text
                  formTitle="Observação"
                  fControlName="observacao"
                  [formGroup]="form"
                  class="col-md-12"
                >
                </app-input-text>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Endereço">
            <div class="card-body">
              <app-endereco
                [form]="form"
                [formControlCep]="form.get('endereco.cep')"
                (changeEndereco)="atualizarEndereco($event)"
                [formControlCidade]="form.get('endereco.cidade')"
                cadastroCompleto = "false"
              ></app-endereco>
            </div>
          </mat-tab>
        </mat-tab-group>
        <app-button-form
          [formGroup]="form"
          (save)="onSalvar()"
          (next)="onProximo(matgroup)"
          [isSave]="isSave"
        ></app-button-form>
      </form>
    </div>
  </div>
</app-master-form>

<ng-template #overlay>
   <app-cadastro-cliente-form></app-cadastro-cliente-form>
</ng-template>
