<div class="wrapper main">
   <div class="page-header pricing-page header-filter background-page">




      <div class="row">
         <div class="col-lg-3 col-md-3 col-sm-12 ">
            <div class="card">
               <div class="card-body">
                  <div class="card-header">
                     <h6 class="card-title">Controle sua Agenda</h6>
                  </div>
                  <img src="https://res.cloudinary.com/vet/image/upload/v1612972600/site/agenda.jpg" alt="Controle sua Agenda">
                  <div class="card-footer">
                     <p class="card-text">Controle sua agenda de atendimento de forma prática e otimize o seu dia de
                        trabalho.</p>
                  </div>
               </div>
            </div>
         </div>


         <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="card">
               <div class="card-body">
                  <div class="card-header">
                     <h6 class="card-title">Cadastre as informações</h6>
                  </div>
                  <img src="https://res.cloudinary.com/vet/image/upload/v1612972601/site/pet.jpg" alt="Cadastre as informações">
                  <div class="card-footer">
                     <p class="card-text">Com um cadastro eficiente é possível oferecer um serviço personalizado ao seu
                        cliente.</p>
                  </div>
               </div>
            </div>
         </div>


         <!-- <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="card">
               <div class="card-body">
                  <div class="card-header">
                     <h6 class="card-title">Crie mais oportunidades</h6>
                  </div>
                  <img src="/assets/img/site/petcare.png" alt="crie mais oportunidades">
                  <div class="card-footer">
                     <p class="card-text">Utilize o pacote de serviços para oferecer um serviço personalizado para cada
                        cliente.</p>
                  </div>
               </div>
            </div>

         </div> -->

         <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="card">
               <div class="card-body">
                  <div class="card-header">
                     <h6 class="card-title">Torne o seu negócio lucrativo</h6>
                  </div>
                  <img src="https://res.cloudinary.com/vet/image/upload/v1612972599/site/controle.jpg" alt="controle suas finanças">
                  <div class="card-footer">
                     <p class="card-text">Mantenha o controle sobre suas finanças e amplie o seu negócio.</p>

                  </div>
               </div>
            </div>
         </div>

         <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="card">
               <div class="card-body">
                  <div class="card-header">
                     <h6 class="card-title">Conheça nossa plataforma </h6>
                  </div>
                  <img src="https://res.cloudinary.com/vet/image/upload/v1612972600/site/start.jpg" alt="controle suas finanças">
                  <div class="card-footer justify-content-center ">
                     <a class="btn btn-round btn-info" [routerLink]="['/site/conta']">Escolha o melhor plano para você</a>
                  </div>
               </div>
            </div>
         </div>

      </div>




      <div class="container">

         <div class="row">
            <!-- <div class="col-md-6 ml-auto mr-auto text-center">
               <h2 class="title">Escolha o melhor plano para você</h2>
               <h5 class="description">Você tem atualizações ilimitadas gratuitas e suporte.</h5>
            </div> -->
         </div>
         <div class="row">
            <!-- <div class="col-lg-12 col-md-12">
               <div class="card card-pricing card-plain">
                  <h6 class="card-category">Demonstração</h6>
                  <div class="card-body">
                     <div class="card-icon icon-white "><i class="material-icons">weekend</i></div>
                     <h3 class="card-title">Gratuito</h3>
                     <p class="card-description">30 dias</p>
                  </div>
                  <div class="card-footer justify-content-center ">
                     <a class="btn btn-round btn-white" [routerLink]="['/site/conta']">Micro Empreendedor</a>
                  </div>
               </div>
            </div> -->
            <!-- <div class="col-lg-3 col-md-6">
					<div class="card card-pricing ">
						<h6 class="card-category">Estética Animal</h6>
						<div class="card-body">
							<div class="card-icon icon-rose ">
								<i class="material-icons">home</i></div>
							<h3 class="card-title">R$ 100,00</h3>
							<p class="card-description">Banho e Tosa</p>
						</div>
						<div class="card-footer justify-content-center ">
							<a class="btn btn-round btn-rose" href="#pablo">Escolher Plano</a></div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="card card-pricing card-plain">
						<h6 class="card-category">Petshop</h6>
						<div class="card-body">
							<div class="card-icon icon-white "><i class="material-icons">business</i></div>
							<h3 class="card-title">R$ 200,00</h3>
							<p class="card-description">Comércio</p>
						</div>
						<div class="card-footer justify-content-center "><a class="btn btn-round btn-white"
								href="#pablo">Escolher Plano</a></div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="card card-pricing card-plain">
						<h6 class="card-category">Clínica Veterinária</h6>
						<div class="card-body">
							<div class="card-icon icon-white "><i class="material-icons">account_balance</i></div>
							<h3 class="card-title">500,00</h3>
							<p class="card-description">Clinica veterinária</p>
						</div>
						<div class="card-footer justify-content-center ">
							<a class="btn btn-round btn-white" href="#pablo">Escolher Plano</a></div>
					</div>
				</div> -->
         </div>
      </div>
   </div>
</div>