<app-master-form titulo="Novo Atendimento">
   <div class="content">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12" *ngFor="let agenda of planner">
               <div class="card">
                  <h5 class="card-header text-center my-bold">{{agenda.data}}</h5>
                  <div class="card-body">
                     <div style="cursor: pointer" class="dropdown-item" *ngFor="let detalhe of agenda.agendadetalhe">
                        <div style="cursor: pointer;" class="dropdown-item">
                           <div class="message">
                              <div class="form-row">
                                 <span class="">Faz: </span>
                                 <span class="ml-1 my-bold" style="overflow: hidden">{{detalhe.fazenda}}</span>
                              </div>
                              <div class="form-row">
                                 <span class="">Lote: </span>
                                 <span class="ml-1 my-bold" style="overflow: hidden">{{detalhe.lote}}
                                 </span>
                              </div>
                              <div class="form-row">
                                 <span class="">Manejo: </span>
                                 <span class="ml-1 my-bold" title="Protocolo"
                                    style="overflow: hidden">{{detalhe.texto}}</span>
                              </div>
                           </div>
                        </div>


                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>



</app-master-form>