<div class="row">
   <div class="col-md-6">
      <mat-form-field>
         <mat-label>Departamento</mat-label>
         <mat-select name="departamento" [formControl]="departamentoFB" multiple>
            <mat-option *ngFor="let dep of departamentos" [value]="dep">
               {{dep.nome}}
            </mat-option>
         </mat-select>
      </mat-form-field>
   </div>
   <div class="col-md-6">
      <mat-form-field>
         <mat-label>Categoria</mat-label>
         <mat-select name="categoria" [formControl]="categoriaFB" multiple>
            <mat-option *ngFor="let categoria of categorias" [value]="categoria">
               {{categoria.nome}}
            </mat-option>
         </mat-select>
      </mat-form-field>
   </div>
</div>
<div class="row">
   <div class="col-md-6">
      <mat-form-field>
         <mat-label>Grupo</mat-label>
         <mat-select name="grupo" [formControl]="grupoFB" multiple>
            <mat-option *ngFor="let grupo of grupos" [value]="grupo">
               {{grupo.nome}}
            </mat-option>
         </mat-select>
      </mat-form-field>
   </div>
   <div class="col-md-6">
      <mat-form-field>
         <mat-label>SubGrupo</mat-label>
         <mat-select name="subgrupo" [formControl]="subgrupoFB" multiple>
            <mat-option *ngFor="let subgrupo of subgrupos" [value]="subgrupo">
               {{subgrupo.nome}}
            </mat-option>
         </mat-select>
      </mat-form-field>
   </div>
</div>