<mat-form-field>
  <input type="text" placeholder="Raça" aria-label="Number" 
    matInput [matAutocomplete]="auto" id="inputRacaDescricao"
    [formControl]="form"
    [(ngModel)]="value">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
   [displayWith]="display"
    (optionSelected)="onSelecionar($event.option.value)">
    <mat-option *ngFor="let raca of filteredOptions | async" [value]="raca">
      {{raca.descricao}}
    </mat-option>
  </mat-autocomplete>
  <button type="button" mat-button class="btn btn-danger btn-link btn-fab btn-fab-mini btn-round" *ngIf="value.descricao"
    matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
    <i class="material-icons">clear</i>
  </button>


</mat-form-field>