<div [class]="card">
    <div class="mat-elevation-z8 table-responsive">
        <mat-table #table [dataSource]="dataSource">
            <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col.definition">
                <mat-header-cell *cdkHeaderCellDef [ngClass]="columnStyle(col)"> {{col.header}} </mat-header-cell>
                <mat-cell *cdkCellDef="let row" [ngClass]="columnStyle(col)">

                    {{columnsValue(row, col)}}

                    <div class="td-actions text-right" *ngIf="col.type === ENUMS.ACTION">
                        <app-button-grid-confirm (cClick)="onConfirm(row)" [styles]="buttonStyle(col)" *ngIf="buttonView(col, ACTION.SUCCESS)"></app-button-grid-confirm>
                        <app-button-grid-edit (cClick)="onEdit(row)" [styles]="buttonStyle(col)" *ngIf="buttonView(col, ACTION.EDIT)"></app-button-grid-edit>
                        <app-button-grid-delete (cClick)="onDelete(row)" [styles]="buttonStyle(col)" *ngIf="buttonView(col, ACTION.DELETE)"></app-button-grid-delete>
                    </div>

                    <div class="td-actions text-right" *ngIf="col.type === ENUMS.STATUS">
                        <button class="btn  btn-sm btn-round btn-center" [ngClass]="{
                            'btn-warning': columnsStatus(row, col, STATUS.PENDENTE), 
                            'btn-success': columnsStatus(row, col, STATUS.FINALIZADO),
                            'btn-default': columnsStatus(row, col, STATUS.CANCELADO),
                            'btn-danger':  columnsStatus(row, col, STATUS.ATRASADO),
                            'btn-info':  columnsStatus(row, col, STATUS.CONFIRMADO)
                         }"></button>
                    </div>

                    
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnsProps()"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsProps();"></mat-row>
        </mat-table>
        <p class="simple-text" *ngIf="dataSource.data.length === 0">Nenhum registro encontrado...</p>

        <mat-paginator [length]="pagelength" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[7]"
            (page)="pageEvent = onPaginar($event)" showFirstLastButtons *ngIf="pageSize > 1">
        </mat-paginator>
    </div>
</div>