<div class="card-body" *ngIf="!isCadastro">
   <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6" (click)='show(0);'>
         <div class="card card-stats">
            <div class="card-header card-header-icon">
               <div class="card-icon">
                  <i class="material-icons">add</i>
               </div>
            </div>
            <div class="card-footer">
               <div class="stats">Não Definido</div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6" *ngFor="let animal of animais" (click)='show(animal.id);'>
         <div class="card card-stats">
            <div class="card-header card-header-icon"
               [ngClass]="{'card-header-info': animal.sexo === 'MASCULINO', 'card-header-rose': animal.sexo === 'FEMININO'}">
               <div class="card-icon">
                  <i class="material-icons">favorite_border</i>
               </div>
               <h6 class="card-title">{{animal.nome}}</h6>
            </div>
            <div class="card-footer text-muted">
               <div class="stats">{{animal.tipo}}</div>
            </div>
         </div>
      </div>
   </div>
</div>