<mat-form-field>
    <input type="text" placeholder="Produto" aria-label="Number" matInput [matAutocomplete]="auto" id="inputProduto"
        [formControl]="control" [(ngModel)]="value" focusDirective>

    <button mat-icon-button matSuffix class="btn btn-danger btn-link " *ngIf="value" aria-label="Clear"
        (click)="value = ''">
        <mat-icon>clear</mat-icon>
    </button>
    <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
    </button>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="display"
        (optionSelected)="onSelecionar($event.option.value)">
        <mat-option *ngFor="let produto of filteredOptions " [value]="produto">
            {{produto.nome}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<mat-action-row>
    <app-button name="btnAdicionarProd" label="Adicionar" type="success" size="small" (cClick)="onAdicionarProduto()">
    </app-button>
</mat-action-row>