<h2 mat-dialog-title>Termos e Condições de Uso</h2>
<mat-dialog-content class="mat-typography">
   <p><strong>INOVGESTAO SOFTWARE S.A</strong>, pessoa jurídica de direito privado, inscrita no CNPJ/MF sob o nº
      71.353.855/0001-44, com sede na cidade de Assis, Estado de São Paulo, <span style="font-weight: 400;">Av
         Rui Barbosa, Nº 161, Bairro Centro, CEP: 19800-000, doravante denominada
         simplesmente</span>&nbsp;"<u>INOVGESTAO</u>", única e exclusiva proprietária do software denominado INOVVET (ora em
      diante simplesmente "Aplicativo"), das marcas, nomes e do domínio <a href="https://inovvet.com.br/" target="_blank"
         rel="noopener noreferrer">https://www.inovvet.com.br</a>&nbsp; associados à marca INOVVET.</p>
   <h3>Das Definições</h3>
   <p>Os termos a seguir constantes neste TERMO terão o significado estabelecido abaixo, seja no plural ou no singular,
      sempre que usados em letras maiúsculas:</p>
   <p>
      <b>Portal</b>: significa o local onde o Aplicativo será disponibilizado para acesso do USUÁRIO, cujo endereço
      eletrônico
      é o seguinte: www.inovvet.com.br;
   </p>
   <p>
      <b>Aplicativo</b>: significa o software de propriedade exclusiva da INOVVET, cujas funcionalidades e serviços estão
      disponibilizados no Portal.
   </p>
   <p>
      <b>Informações</b>: qualquer informação disponibilizada pelo USUÁRIO que o identifique junto a INOVVET, tais como:
      razão
      social/nome, CNPJ/CPF, endereço, número de telefone, fax, e-mail, número de documentos, etc.
   </p>
   <p>
      <b>Parceiro</b>: pessoa jurídica responsável pelo sublicenciamento do software INOVVET, bem como por todo o
      relacionamento
      com o Usuário, como: atendimento, help desk, cobrança e treinamento.
   </p>
   <p>
      <b>Período de Demonstração</b>: período de teste disponibilizado ao USUÁRIO com recursos previamente destacados
      neste
      contrato.
   </p>
   <ol>
      <li>
         <h3>DECLARAÇÃO DE VONTADE</h3>
         <ol>
            <li>
               <p> O USUÁRIO DECLARA TER CIÊNCIA DOS DIREITOS E OBRIGAÇÕES DECORRENTES DO PRESENTE TERMO, CONSTITUINDO
                  ESTE
                  INSTRUMENTO O ACORDO COMPLETO ENTRE AS PARTES. DECLARA, AINDA, TER LIDO, COMPREENDIDO E ACEITO TODOS
                  OS TERMOS E
                  CONDIÇÕES DESTE INSTRUMENTO.</p>
            </li>
            <li>
               <p> A partir do momento em que o USUÁRIO aceitar este TERMO, as disposições aqui constantes regerão a
                  relação entre a
                  INOVVET, o USUÁRIO e o PARCEIRO, razão pela qual é recomendável que o USUÁRIO imprima uma cópia deste
                  documento
                  para futura referência</p>
            </li>
            <li>
               <p> O USUÁRIO se declara ciente de que as operações que corresponderem à aceitação de determinadas opções
                  serão
                  registradas nos bancos de dados da INOVVET, juntamente com a data e hora em que o aceite foi
                  manifestado pelo
                  USUÁRIO, podendo tal informação ser utilizada como prova da aceitação da opção pelo USUÁRIO,
                  independentemente de
                  outra formalidade</p>
            </li>
            <li>
               <p> As informações referentes à data e hora de acesso e ao endereço de protocolo de internet utilizado
                  pelo USUÁRIO
                  para acessar o Portal ou o Aplicativo permanecerão armazenadas pela INOVVET por, no mínimo, 6 (meses)
                  a contar da
                  data de cada acesso realizado, independentemente do término da relação jurídica e comercial entre a
                  INOVVET e o
                  USUÁRIO, em cumprimento ao disposto no Artigo 15 da Lei nº 12.965/2014</p>
            </li>
         </ol>
      </li>
      <li>
         <h3>INFORMAÇÕES CONFIDENCIAIS E POLÍTICA DE SEGURANÇA DO USUÁRIO</h3>
         <ol>
            <li>
               <p> A INOVVET se compromete a manter a confidencialidade, integridade e em segurança quaisquer
                  Informações
                  disponibilizadas pelo USUÁRIO.</p>
            </li>
            <li>
               <p>
                  Com a finalidade de garantir a privacidade do USUÁRIO, bem como a segurança de suas Informações, a
                  INOVVET
                  se compromete a regularmente reavaliar a sua política de segurança e adaptá-la, conforme necessário.
               </p>
            </li>
            <li>
               <p>
                  Neste ato, o USUÁRIO expressamente autoriza a INOVVET a colher e utilizar seus dados técnicos e
                  operacionais
                  presentes no Aplicativo, para fins de estudos, estatísticas, melhorias no Aplicativo
                  e parcerias que ofereçam serviços aos extras aos contratantes.
               </p>
            </li>
            <li>
               <p>Todos os dados coletados, tratados e armazenados pela INOVVET estarão sujeitos a procedimentos de
                  segurança de
                  modo a garantir seu sigilo e a privacidade do USUÁRIO, em conformidade com o os requisitos da Lei nº
                  12.965/2014.
               </p>
            </li>
            <li>
               <p>O USUÁRIO consente livre e expressamente que suas informações poderão ser transferidas a terceiros em
                  decorrência
                  ou não da venda, aquisição, fusão e parcerias. A INOVVET, contudo, compromete-se, nestes casos, a
                  informar ao
                  USUÁRIO.</p>
            </li>
         </ol>
      </li>

      <li>
         <h3>NOTIFICAÇÕES E COMUNICADOS AO USUÁRIO</h3>
         <ol>
            <li>
               <p> Adicionalmente o USUÁRIO autoriza a INOVVET e o PARCEIRO a enviar ao USUÁRIO qualquer notificação
                  administrativa, alertas e comunicados relevantes para o mesmo:</p>

               <ul>
                  <li>
                     <p> Para cumprir com a finalidade do Portal ou do Aplicativo; </p>
                  </li>
                  <li>
                     <p> Identificar o perfil, desejos ou necessidades do USUÁRIO a fim de aprimorar os produtos e/ou
                        serviços oferecidos pelo Aplicativo ou Portal; </p>
                  </li>
                  <li>
                     <p> Realizar estatísticas genéricas para monitoramento de utilização do Aplicativo; </p>
                  </li>
                  <li>
                     <p> Para pesquisas de marketing, planejamento de projetos da INOVVET </p>
                  </li>
                  <li>
                     <p> Resolução de problemas no Portal ou Aplicativo, verificação e proteção das Informações, do
                        Portal ou Aplicativo contra erros, fraudes ou qualquer outro crime eletrônico</p>
                  </li>
               </ul>
            </li>
         </ol>
      </li>

      <li>
         <h3>ALTERAÇÕES CADASTRAIS DO USUÁRIO</h3>
         <ol>
            <li>
               <p> Caso haja qualquer alteração nas informações de cadastro fornecidas pelo USUÁRIO, este se compromete
                  a informar a INOVVET de tais alterações de modo a garantir o correto uso e funcionamento do
                  Aplicativo.
               </p>
            </li>
            <li>
               <p> As Informações do USUÁRIO poderão ser transferidas a terceiros em decorrência da venda, aquisição,
                  fusão, reorganização societária ou qualquer outra mudança no controle da INOVVET, ou ainda a critério
                  desta.
               </p>
            </li>
            <li>
               <p> A INOVVET poderá a qualquer tempo, a seu critério, transferir o atendimento do USUÁRIO para outro
                  PARCEIRO, sem a cominação de multa ou pagamento de qualquer indenização.
               </p>
            </li>
            <li>
               <p> A transferência do USUÁRIO para outro PARCEIRO não resultará em quaisquer prejuízos ao USUÁRIO. </p>
            </li>
            <li>
               <p>Não obstante as Informações fornecidas pelo USUÁRIO estejam seguras nos termos deste TERMO, o login e
                  a senha de acesso ao Aplicativo são confidenciais e de responsabilidades exclusiva do USUÁRIO. </p>
            </li>
            <li>
               <p>Caso o USUÁRIO acredite que seu login e senha de acesso ao Portal tenham sido furtados ou sejam de
                  conhecimento de outras pessoas, por qualquer razão, o USUÁRIO deverá imediatamente comunicar ao
                  PARCEIRO na forma prevista neste TERMO, sem prejuízo da alteração de senha imediata por meio do Portal
                  ou do Aplicativo.</p>
            </li>
         </ol>
      </li>

      <li>
         <h3>DA REMUNERAÇÃO E FORMA DE PAGAMENTO</h3>
         <p>O USUÁRIO deve pagar ao PARCEIRO o valor do licenciamento mensal pelo uso contínuo do software.</p>

      </li>

      <li>
         <h3>PERÍODO DE TRIAL</h3>
         <ol>
            <li>
               <p>Uma vez realizado o cadastro no Aplicativo o USUÁRIO terá direito a utilizar aplicativo em modo de
                  demonstração, sem qualquer custo ao USUÁRIO. O período de demonstração concede acesso a plataforma por
                  um período de 60 dias podendo ser prorrogado pela INOVVET sem aviso prévio ao usuário.
               </p>
            </li>
            <li>
               <p> O período de demonstração somente poderá ocorrer uma vez por USUÁRIO. Caso fique constatado, a
                  qualquer
                  tempo, a tentativa fraudulenta de utilização indevida do período de demonstração, o acesso aos
                  serviços será
                  suspenso, podendo a INOVVET realizar a cobrança do período utilizado indevidamente do USUÁRIO, sem
                  prejuízo das demais combinações estabelecidas neste termo ou na legislação.
               </p>
            </li>
            <li>
               <p>O período de demonstração consiste em oferecer acesso aos recurso abaixo informado sem custo ao
                  USUÁRIO, os demais recursos da plataforma devem ser adquiridos pelo usuário através de um licença de
                  uso.
               </p>

               <ol>
                  <li>
                     <p> Cadastro de clientes. </p>
                  </li>
                  <li>
                     <p>Cadastro de Animais. </p>
                  </li>
                  <li>
                     <p> Cadastros de Atendimentos. </p>
                  </li>
                  <li>
                     <p> Gerenciamento de Atendimentos. </p>
                  </li>
               </ol>
            </li>
         </ol>

      </li>

      <li>
         <h3>NÍVEL DE SERVIÇO</h3>
         <ol>
            <li>
               <p>A INOVVET empreenderá esforços comercialmente razoáveis para tornar o Aplicativo disponível, no
                  mínimo,
                  99,5% (noventa e nove vírgula cinco por cento) durante cada Ano</p>
            </li>
            <li>
               <p>
                  O Compromisso de Nível de Serviço não se aplica às circunstâncias de indisponibilidade que resultem:
                  (i) de uma interrupção do fornecimento de energia elétrica ou paradas emergenciais não superiores a 2
                  (duas) horas ou que ocorram no período das 22:00h até às 6:00h; (ii) forem causadas por fatores que
                  fujam ao cabível controle da INOVVET, inclusive casos de força maior ou de acesso à Internet e
                  problemas
                  correlatos; (iii) resultem de quaisquer atos ou omissões do USUÁRIO ou de terceiros; (iv) resultem do
                  equipamento de TI, software ou outras tecnologias que o USUÁRIO usar e/ou do equipamento de TI que
                  impeçam o acesso regular ao Aplicativo; (v) resultem de falhas de instâncias individuais não
                  atribuíveis à indisponibilidade do USUÁRIO e (vi) resultantes de paradas programadas, estas
                  comunicadas com 48 (quarenta e oito) horas de antecedência ao USUÁRIO.
               </p>
            </li>
         </ol>
      </li>

      <li>
         <h3>DA PROPRIEDADE INTELECTUAL</h3>
         <ol>
            <li>
               <p>O USUÁRIO não adquire, pelo presente instrumento, nenhum direito de propriedade intelectual ou outros
                  direitos exclusivos, incluindo patentes, desenhos, marcas, direitos autorais ou direitos sobre
                  informações confidenciais ou segredos de negócio, sobre ou relacionados ao Aplicativo ou nenhuma parte
                  dele. O USUÁRIO também não adquire nenhum direito sobre ou relacionado ao Aplicativo ou qualquer
                  componente dele, além dos direitos expressamente licenciados ao mesmo sob o presente TERMO ou em
                  qualquer outro contrato mutuamente acordado por escrito que o USUÁRIO possa ter celebrado com a
                  INOVVET.
                  Quaisquer direitos não expressamente concedidos sob o presente instrumento são reservados.</p>
            </li>
            <li>
               <p>
                  Caso o USUÁRIO venha a desenvolver um novo módulo ou produto que caracterize cópia, de todo ou em
                  parte, quer seja do dicionário de dados, quer seja do programa, será considerado como parte do
                  Aplicativo, ficando, portanto, sua propriedade incorporada pela INOVVET e seu uso condicionado a estas
                  cláusulas contratuais.
               </p>
            </li>
            <li>
               <p>
                  Todo e qualquer conteúdo disponibilizado no Aplicativo ou no Portal, tais como, mas não se limitando a
                  textos, gráficos, imagens, logos, ícones, fotografias, conteúdo.
               </p>
            </li>
         </ol>
      </li>


      <li>
         <h3>ACESSO AO APLICATIVO</h3>
         <ol>
            <li>
               <p>Este Termo concede ao USUÁRIO uma licença mensal revogável, onerosa, não exclusiva e intransferível de
                  uso do Aplicativo, sendo certo que o USUÁRIO não poderá utilizar e nem permitir o uso do Aplicativo
                  para qualquer outra finalidade não expressamente prevista neste instrumento.</p>
            </li>
            <li>
               <p>
                  Por meio do Aplicativo o USUÁRIO, entre outros, terá acesso a uma ferramenta para o processamento e
                  gestão de informações da pessoa jurídica.
               </p>
            </li>
            <li>
               <p>
                  Para tanto, o USUÁRIO realizará o seu cadastro no Aplicativo, fornecendo as suas Informações que serão
                  utilizados para acesso ao conteúdo do Aplicativo.
               </p>
            </li>
            <li>
               <p>
                  O USUÁRIO é responsável pela veracidade, validade e precisão das Informações por ele fornecidas no seu
                  cadastro, inclusive em relação à indicação de endereço de e-mail válido de sua titularidade,
                  competindo-lhe, ainda, manter referido cadastro sempre atualizado.
               </p>
            </li>
            <li>
               <p>
                  A INOVVET não terá qualquer obrigação de policiar ou fiscalizar as informações fornecidas pelo
                  USUÁRIO,
                  mas poderá, ao seu exclusivo critério, excluir as informações que lhe pareçam inverídicas ou
                  ofensivas.
               </p>
            </li>
            <li>
               <p>
                  O login e senhas criados pelo USUÁRIO para acesso ao Aplicativo são confidenciais e de
                  responsabilidade exclusiva do USUÁRIO, que deverá entrar em contato com a INOVVET, imediatamente, na
                  hipótese de comprometimento do seu sigilo.
               </p>
            </li>
         </ol>
      </li>

      <li>
         <h3>USO DO APLICATIVO</h3>
         <p> A INOVVET poderá, ao seu exclusivo critério, a qualquer tempo, e sem a necessidade de comunicação prévia ao
            USUÁRIO:</p>
         <ol>
            <li>
               <p>Encerrar, modificar ou suspender, total ou parcialmente, o acesso do USUÁRIO ao Aplicativo ou ao
                  Portal, quando referido acesso ou cadastro estiver em violação das condições estabelecidas neste
                  TERMO;</p>
            </li>
            <li>
               <p>
                  Excluir, total ou parcialmente, as informações cadastradas pelo USUÁRIO, que não estejam em
                  consonância com as disposições deste TERMO;
               </p>
            </li>
            <li>
               <p>
                  A qualquer tempo, mediante comunicação prévia ao USUÁRIO no endereço de e-mail por este indicado em
                  seu cadastro pessoal ou por meio de aviso no próprio Aplicativo ou Portal, a INOVVET poderá, ainda:
               </p>
               <ul>
                  <li>
                     <p>
                        Definir preços para oferecimento de determinados conteúdos e/ou serviços, ainda que inicialmente
                        tenham sido ofertados de forma gratuita, sendo a utilização dos mesmos, após o referido aviso,
                        considerada como concordância do USUÁRIO com tais preços; e,
                     </p>
                  </li>
                  <li>
                     <p>
                        Enviar ao USUÁRIO mensagens de e-mail ou outras correspondências de caráter informativo,
                        comercial e/ou promocional, salvo expressa solicitação em contrário pelo USUÁRIO.
                     </p>
                  </li>
               </ul>
            </li>
         </ol>
      </li>

      <li>
         <h3>LIMITAÇÕES DE USO</h3>
         <ol>
            <li>
               <p> O USUÁRIO não poderá:</p>
               <ul>
                  <li>
                     <p>
                        Utilizar o Aplicativo para divulgar informações de qualquer forma que possa implicar em violação
                        de normas aplicáveis no Brasil, de direitos de propriedade da INOVVET e/ou de terceiros ou dos
                        bons costumes, incluindo, sem limitação, a violação de direitos intelectuais, autorais e de
                        privacidade, ou a produção e divulgação de conteúdo ilegal, imoral, inapropriado ou ofensivo;
                     </p>
                  </li>
                  <li>
                     <p>
                        Copiar, ceder, sublicenciar, vender, dar em locação ou em garantia, reproduzir, doar, alienar de
                        qualquer forma, transferir total ou parcialmente, sob quaisquer modalidades, gratuita ou
                        onerosamente, provisória ou permanentemente, o Aplicativo, assim como seus módulos, partes,
                        manuais ou quaisquer informações relativas ao mesmo;
                     </p>
                  </li>
                  <li>
                     <p>
                        Empregar softwares, técnicas e/ou artifícios com o intuito de utilizar indevidamente o
                        Aplicativo para práticas nocivas à INOVVET ou a terceiros, tais como exploits, spamming,
                        flooding,
                        spoofing, crashing, root kits, etc.;
                     </p>
                  </li>
                  <li>
                     <p>
                        Reproduzir, adaptar, modificar e/ou empregar, no todo ou em parte, para qualquer fim, o
                        Aplicativo ou qualquer conteúdo do Portal sem a autorização expressa da INOVVET;
                     </p>
                  </li>
                  <li>
                     <p>
                        Publicar ou transmitir qualquer arquivo que contenha vírus, worms, cavalos de troia ou qualquer
                        outro programa contaminante ou destrutivo, ou que de outra forma possa interferir no bom
                        funcionamento Aplicativo;
                     </p>
                  </li>
                  <li>
                     <p>
                        Realizar engenharia reversa
                     </p>
                  </li>
               </ul>
            </li>
         </ol>
      </li>

      <li>
         <h3>LIMITAÇÃO DE RESPONSABILIDADE E INDENIZAÇÃO</h3>
         <ol>
            <li>
               <p> A INOVVET e o PARCEIRO não responderão, em nenhuma hipótese, ainda que em caráter solidário ou
                  subsidiário:</p>

               <ul>
                  <li>
                     <p>
                        Por eventuais prejuízos sofridos pelo USUÁRIO em razão da tomada de decisões com base nas
                        informações disponibilizadas no Portal ou Aplicativo;
                     </p>
                  </li>
                  <li>
                     <p>
                        Por eventuais prejuízos sofridos pelo USUÁRIO em razão de falhas no sistema de informática ou
                        nos servidores que independam de culpa da INOVVET ou do PARCEIRO ou em sua conectividade com a
                        internet de modo geral, devendo o USUÁRIO manter, às suas expensas, linha de telecomunicação,
                        modem, software de comunicação, endereço de correio eletrônico e outros recursos necessários à
                        comunicação com a INOVVET.
                     </p>
                  </li>
                  <li>
                     <p>
                        Por situações de caso fortuito ou força maior, nos termos do artigo 393 do Código Civil
                        Brasileiro;
                     </p>
                  </li>
                  <li>
                     <p>
                        Por falha de operação, operação por pessoas não autorizadas ou qualquer outra causa em que não
                        exista culpa da INOVVET e do PARCEIRO;
                     </p>
                  </li>
                  <li>
                     <p>
                        Pelo cumprimento dos prazos legais do USUÁRIO para a entrega de documentos fiscais ou pagamentos
                        de impostos;
                     </p>
                  </li>
                  <li>
                     <p>
                        Pelos danos ou prejuízos decorrentes de decisões administrativas, gerenciais ou comerciais
                        tomadas com base nas informações fornecidas pelo Aplicativo;
                     </p>
                  </li>
                  <li>
                     <p>
                        Pelos danos ou prejuízos decorrentes de decisões administrativas, gerenciais ou comerciais
                        tomadas com base nas informações fornecidas pelo Aplicativo;
                     </p>
                  </li>
                  <li>
                     <p>
                        Por eventuais problemas oriundos de ações de terceiros que possam interferir na qualidade do
                        serviço;
                     </p>
                  </li>
                  <li>
                     <p>
                        Por danos causados a terceiros em razão de conteúdo gerado pelo USUÁRIO através do Aplicativo.
                     </p>
                  </li>

                  <li>
                     <p>
                        Por danos causados a terceiros em razão de conteúdo gerado pelo USUÁRIO através do Aplicativo.
                     </p>
                  </li>
               </ul>
            </li>
            <li>
               <p>
                  A INOVVET não garante que as funções contidas no Aplicativo atendam às suas necessidades, que a
                  operação
                  do Aplicativo será ininterrupta ou livre de erros, que qualquer funcionalidade continuará disponível,
                  que os defeitos no Aplicativo serão corrigidos ou que o Aplicativo será compatível ou funcione com
                  qualquer Aplicativo, aplicações ou serviços de terceiros.
               </p>
            </li>
            <li>
               <p>
                  O USUÁRIO concorda em defender, indenizar e manter indene a INOVVET e suas afiliadas, diretores,
                  empregados e agentes, de e contra quaisquer encargos, ações ou demandas, incluindo, mas não limitado
                  a, honorários advocatícios razoáveis, resultantes: (i) da sua eventual utilização indevida do Portal e
                  do Aplicativo, ou (ii) da sua violação das condições ora pactuadas.
               </p>
            </li>
            <li>
               <p>
                  Em nenhum caso a INOVVET e o PARCEIRO serão responsáveis por danos pessoais ou qualquer prejuízo
                  incidental, especial, indireto ou consequente, lucros cessantes, incluindo, sem limitação, prejuízos
                  por perda de lucro, corrupção ou perda de dados, falha de transmissão ou recepção de dados, não
                  continuidade do negócio ou qualquer outro prejuízo ou perda comercial, decorrentes ou relacionados ao
                  seu uso ou sua inabilidade em usar o Aplicativo, por qualquer outro motivo.
               </p>
            </li>
            <li>
               <p>
                  Na eventualidade da INOVVET ser compelida, por decisão judicial transitada em julgado, a indenizar ou
                  ressarcir o USUÁRIO por danos sofridos, apesar do disposto no Item 10.2 acima, o valor devido ao
                  USUÁRIO será limitado à 20% (vinte por cento) da totalidade da quantia efetivamente paga pelo USUÁRIO
                  à INOVVET a título de fruição das funcionalidades oferecidas pelo Aplicativo.
               </p>
            </li>
         </ol>
      </li>

      <li>
         <h3>VIGÊNCIA E RESCISÃO</h3>
         <ol>
            <li>
               <p>Este TERMO vigerá por prazo indeterminado, a partir do aceite do USUÁRIO, podendo ser rescindido
                  unilateralmente pela INOVVET a qualquer tempo, sem qualquer ônus, mediante simples comunicação por
                  meio
                  do próprio Portal ou de mensagem para o e-mail indicado no cadastro pessoal do USUÁRIO, com aviso
                  prévio de 30 (trinta) dias.</p>
            </li>
            <li>
               <p>O USUÁRIO poderá, a qualquer momento, solicitar a suspensão e/ou a exclusão da sua conta de acesso ao
                  Portal, encerrando seu relacionamento com a INOVVET, mediante solicitação realizada diretamente por
                  meio
                  do e-mail suporte@inovvet.com.br, devendo cumprir aviso prévio de 30 (trinta) dias.
               </p>
            </li>
         </ol>
      </li>

      <li>
         <h3>RESTITUIÇÃO DAS INFORMAÇÕES</h3>
         <ol>
            <li>
               <p>Suspenso ou terminado o acesso do USUÁRIO ao Aplicativo, a INOVVET manterá as informações do USUÁRIO
                  armazenadas no Aplicativo pelo período de 60 (sessenta) dias, contados da suspensão ou término do
                  acesso. Durante este período, a INOVVET tornará as informações do USUÁRIO disponíveis para serem
                  extraídas do Aplicativo em formato .CSV.</p>
            </li>
            <li>
               <p>Ultrapassados 60 (sessenta) dias da suspensão do acesso ou término deste instrumento, todas as
                  INFORMAÇÕES do Usuário em poder da INOVVET serão excluídas permanentemente do banco de dados da
                  INOVVET,
                  independentemente de terem sido extraídas ou não pelo USUÁRIO.
               </p>
            </li>
         </ol>
      </li>

      <li>
         <h3>MODIFICAÇÕES</h3>
         <ol>
            <li>
               <p>A INOVVET poderá, a qualquer tempo, alterar este TERMO ao seu exclusivo critério. Quaisquer alterações
                  neste TERMO serão informadas por meio do Portal ou do Aplicativo.</p>
            </li>
            <li>
               <p> Será sempre indicada a data da última atualização realizada pela INOVVET no TERMO.
               </p>
            </li>
            <li>
               <p> O USUÁRIO entende e concorda que, assim que publicada a alteração deste TERMO no Portal ou no
                  Aplicativo, o uso do Portal ou do Aplicativo passa a ser submetido ao TERMO atualizado.
               </p>
            </li>
         </ol>
      </li>

      <li>
         <h3> CONSENTIMENTO LIVRE, EXPRESSO E INFORMADO PARA ACESSO A INFORMAÇÕES CONFIDENCIAIS</h3>
         <ol>
            <li>
               <p>O USUÁRIO ao aceitar utilizar o Aplicativo, além de aceitar integralmente o TERMO, também consente,
                  livre e expressamente, que a INOVVET colete, use, armazene e faça o tratamento de todos os dados
                  necessários para que o serviço ofertado seja prestado em sua integralidade.</p>
            </li>
            <li>
               <p> Ainda, o USUÁRIO declara e reconhece que para a prestação dos serviços e funcionalidades ofertadas
                  pelo Aplicativo a INOVVET acessa as informações diretamente no site e/ou outros meios virtuais,
                  inclusive parceiros, sem fazer qualquer emulação de medidas de segurança, utilizando-se apenas das
                  informações, bem como outras eventualmente necessárias, fornecidas pelo USUÁRIO, conforme autorizado.
               </p>
            </li>
            <li>
               <p> O USUÁRIO consente que quando acessar o site da INOVVET, esta poderá coletar informações técnicas de
                  navegação, tais como tipo de navegador do computador utilizado para acesso ao Portal, endereço de
                  protocolo de Internet, páginas visitadas e tempo médio gasto no Portal. Tais informações poderão ser
                  usadas para orientar o próprio USUÁRIO e melhorar os serviços ofertados.
               </p>
            </li>
            <li>
               <p> O USUÁRIO consente livre e expressamente que a INOVVET utilize cookies apenas para controlar a
                  audiência e a navegação em seu Portal e/ou Aplicativo e possibilitar a identificação de serviços
                  segmentados e personalizados ao perfil do USUÁRIO. A INOVVET garante que estas informações coletadas
                  por
                  meio de cookies são estatísticas e não pessoais, bem como que não serão utilizadas para propósitos
                  diversos dos expressamente previstos neste TERMO, comprometendo-se a adotar todas as medidas
                  necessárias a fim de evitar o acesso e o uso de tais informações por quaisquer terceiros, sem a devida
                  autorização.
               </p>
            </li>
         </ol>
      </li>

      <li>
         <h3> SUPORTE</h3>
         <ol>
            <li>
               <p>O Serviço de suporte será compreendido de segunda a sexta-feira das 09:00h às 12:20h e das 13:20h às
                  18:00h por meio de correio eletrônico (suporte@inovvet.com.br)</p>
            </li>

         </ol>
      </li>

      <li>
         <h3>DISPOSIÇÕES GERAIS</h3>
         <ol>
            <li>
               <p>Este TERMO não gera nenhum contrato de sociedade, de mandato, franquia ou relação de trabalho entre a
                  INOVVET e o USUÁRIO, seus Parceiros e/ou Anunciantes.</p>
            </li>
            <li>
               <p>Caso qualquer disposição deste TERMO for considerada ilegal, nula ou inexequível por qualquer razão,
                  as restantes disposições não serão afetadas e manter-se-ão válidas e aplicáveis na máxima extensão
                  possível.</p>
            </li>
            <li>
               <p>Este TERMO constitui a totalidade do acordo sobre as condições de uso do Portal e do Aplicativo. O
                  USUÁRIO declara ter ciência dos direitos e obrigações decorrentes do presente TERMO, tendo lido,
                  compreendido e aceito todos os termos e condições.</p>
            </li>
            <li>
               <p>Qualquer falha da INOVVET para impor ou exercer qualquer disposição deste TERMO ou direitos conexos,
                  não
                  constitui uma renúncia a esse direito ou disposição.</p>
            </li>
            <li>
               <p> A tolerância de uma parte para com a outra quanto ao descumprimento de qualquer uma das obrigações
                  assumidas neste contrato não implicará em novação ou renúncia de direito. A parte tolerante poderá, a
                  qualquer tempo, exigir da outra parte o fiel e cabal cumprimento deste contrato.</p>
            </li>
            <li>
               <p> O USUÁRIO concorda que a INOVVET possa divulgar o fechamento do contrato para fins comerciais,
                  fazendo
                  menção ao nome e à marca do USUÁRIO em campanhas comerciais, podendo, inclusive, divulgar mensagens
                  enviadas de forma escrita ou oral, por telefone, para uso em sites, jornais, revistas e outras
                  campanhas, enquanto vigorar o presente TERMO. O USUÁRIO aceita, ainda, receber notificações via
                  correio eletrônico sobre treinamentos, parcerias e campanhas relacionadas ao Aplicativo.</p>
            </li>
         </ol>
      </li>

      <li>
         <h3>LEI E FORO APLICÁVEIS</h3>
         <ol>
            <li>
               <p>Este TERMO será interpretado exclusivamente segundo as leis do Brasil.</p>
            </li>
            <li>
               <p>As partes elegem o Foro da Comarca de Brusque, Estado de Santa Catarina, como o único competente para
                  dirimir qualquer litígio resultante deste TERMO.</p>
            </li>

         </ol>
      </li>
   </ol>





</mat-dialog-content>
<mat-dialog-actions align="end">
   <button mat-button mat-dialog-close>Cancelar</button>
   <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceite</button>
</mat-dialog-actions>