<div [formGroup]="formGroup">
   <mat-form-field [hintLabel]="hLabel">
      <input matInput [placeholder]="formTitle"  [type]="!viewPs ? 'password' : 'text'"
      [name]="fControlName" 
      [formControlName]="fControlName" 
      #ComponentFocusIn >
      <button mat-icon-button matSuffix (click)="viewPs = !viewPs">
         <mat-icon>{{viewPs ? 'visibility': 'visibility_off'}}</mat-icon>
      </button>
   </mat-form-field>
   <app-error-detail [control]="formControl"></app-error-detail>
   <app-error-detail-form [error]="formGroup.errors?.passwordValidar" descricao="Senha informada inválida"></app-error-detail-form>
</div>