.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

  mat-slider {
  width: 300px;
}

.card-title{
  display: inline-block;
}

.app-header-position{
  line-height: 1.5em;
  padding: 2px;
  
}
  