<app-master-form titulo="Cadastro de Pets" (closeCadastro)="onVoltar()">
   <div class="content">
      <div class="container-fluid">
         <div class="card-body" *ngIf="isCadastro">
            <form [formGroup]="form" appFormValidator autocomplete="off">
               <div class="row">
                  <div class="col-md-1">
                     <mat-form-field>
                        <mat-label>Código</mat-label>
                        <input matInput id="edtId" formControlName="id">
                     </mat-form-field>
                  </div>
                  <div class="col-md-3">
                     <mat-form-field>
                        <input type="hidden" id="edtId" formControlName="id">
                        <mat-label>Tipo</mat-label>
                        <mat-select name="tipo" formControlName="tipo" #tipo
                           (selectionChange)="changeTipoAnimal($event)">
                           <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                              {{tipo.name}}
                           </mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>
                  <div class="col-md-5">
                     <mat-form-field>
                        <input matInput placeholder="Nome" type="text" formControlName="nome" #setaFoco>
                     </mat-form-field>
                  </div>
                  <div class="col-md-3">
                     <mat-form-field>
                        <mat-label>Sexo</mat-label>
                        <mat-select formControlName="sexo">
                           <mat-option value="MASCULINO">Macho</mat-option>
                           <mat-option value="FEMININO">Fêmea</mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-3">
                     <app-raca [raca]="raca" (changeAtualizar)="changeRaca($event)"></app-raca>
                  </div>
                  <div class="col-md-3">
                     <mat-form-field>
                        <mat-label>Cores</mat-label>
                        <mat-select [formControl]="controlCor" multiple>
                           <mat-option *ngFor="let cor of cores" [value]="cor.nome">{{cor.nome}}</mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>
                  <div class="col-md-3" *ngIf="isPet()">
                     <mat-form-field>
                        <mat-label>Pêlo</mat-label>
                        <mat-select formControlName="pelo">
                           <mat-option value="LONGO">Longo</mat-option>
                           <mat-option value="CURTO">Curto</mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>
                  <div class="col-md-3">
                     <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Nascimento"
                           formControlName="dataNascimento">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                     </mat-form-field>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-2">
                     <mat-slide-toggle id="inputAtivo" formControlName="ativo" #controlAtivo>
                        {{ controlAtivo.checked ? 'Ativo' : 'Inativo'}}
                     </mat-slide-toggle>
                  </div>
                  <div class="col-md-2" *ngIf="isPet()">
                     <mat-slide-toggle id="inputCastrado" formControlName="castrado" #controlCastrado>
                        {{ controlCastrado.checked ? 'Castrado' : 'Não Castrado'}}
                     </mat-slide-toggle>
                  </div>
               </div>
               <button mat-raised-button class="btn btn-success" (click)="salvar()">salvar</button>
               <button mat-raised-button class="btn btn-danger btn-link pull-right" id="btnRemover"
                  (click)='onRemover();' *ngIf="animal.id > 0 ">
                  <i class="material-icons">delete</i> Remover
               </button>
            </form>
         </div>
         <app-grid-pet-form *ngIf="!isCadastro" [isCadastro]='isCadastro'
            [clienteSelecionado]='clienteSelecionado' (onShowPet)='show($event)'>
         </app-grid-pet-form>
      </div>
   </div>
</app-master-form>