<div [formGroup]="formGroup">
    <mat-form-field [hintLabel]="hLabel">
        <mat-label>{{formTitle}}</mat-label>
        <mat-select 
        [id]="fControlName" 
        [formControlName]="fControlName" 
        [compareWith]="compareFn"
        (selectionChange)="onChange()">
            <mat-option *ngFor="let opcao of opcoes" [value]="opcao">
                {{opcao.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <app-error-detail [control]="formControl"></app-error-detail>
</div>
