<div [formGroup]="formGroup">
    <mat-form-field>
        <mat-label>{{formTitle}}</mat-label>
        <mat-select 
        [id]="fControlName" 
        [formControlName]="fControlName" 
        [compareWith]="compareFn">
            <mat-option *ngFor="let opcao of opcoes" [value]="opcao" (onSelectionChange)="onSelect($event)">
                {{opcao.descricao}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <app-error-detail [control]="formControl"></app-error-detail>
</div>