<mat-error *ngIf="service.hasErrorValidar(control, 'required')">Campo obrigatório</mat-error>

<mat-error *ngIf="service.hasErrorValidar(control, 'min')">
  Campo precisa ter no mínimo {{service.lengthValidar(control, 'min')}} caracteres
</mat-error>

<mat-error *ngIf="service.hasErrorValidar(control, 'max')">
  Campo pode ter no máximo {{service.lengthValidar(control, 'max')}} caracteres
</mat-error>

<mat-error *ngIf="service.hasErrorValidar(control, 'minlength')">
    Campo precisa ter no mínimo {{service.lengthValidar(control, 'minlength')}} caracteres
</mat-error>

<mat-error *ngIf="service.hasErrorValidar(control, 'maxlength')">
    Campo pode ter no máximo {{service.lengthValidar(control, 'maxlength')}} caracteres
</mat-error>