<div class="main-content">
   <div class="content">
      <div class="container-fluid">
         <div class="row  justify-content-center">
            <div class="col-md-8">
               <div class="card card-nav-tabs" [hidden]="!showPainel">
                  <div class="card-header card-header-danger card-header-icon">
                     <div class="card-icon">
                        <i class="material-icons">store</i>
                     </div>
                     <h4 class="text-danger">Nova Conta</h4>
                  </div>
                  <form [formGroup]="form" appFormValidator autocomplete="off">
                     <mat-tab-group #matgroup>
                        <mat-tab label="Dados Cadastrais">
                           <div class="card-body container-fluid-form ">
                              <div class="row">
                                 <app-input-mask formTitle="CPF" fControlName="cpf" [formGroup]="form" class="col-md-12"
                                    hLabel="Obrigatório" cText="tel" cMask="000.000.000-00" foco="true">
                                 </app-input-mask>
                              </div>
                              <div class="row">
                                 <app-input-text formTitle="Nome" fControlName="nome" [formGroup]="form"
                                    hLabel="Obrigatório" class="col-md-12">
                                 </app-input-text>
                              </div>
                              <div class="row">
                                 <app-input-telefone formTitle="Telefone" fControlName="telefone" [formGroup]="form"
                                    class="col-md-12" hLabel="Obrigatório">
                                 </app-input-telefone>
                              </div>
                              <div class="row">
                                 <app-input-text formTitle="E-mail" fControlName="email" [formGroup]="form"
                                    disable="true" hLabel="Obrigatório" class="col-md-12">
                                 </app-input-text>
                              </div>
                              <app-endereco [form]="form"
                                 [formControlCep]="form.get('endereco.cep')"
                                 [formControlCidade]="form.get('endereco.cidade')" [cadastroCompleto]="false"
                                 (changeEndereco)="atualizarEndereco($event)">
                              </app-endereco>

                              <div class="row">
                                 <div class="col-md-3">
                                    <mat-checkbox 
                                    formControlName="aceiteContrato">Estou de acordo com o 
                                       <a href="#" (click)="openDialog()" data-toggle="modal" data-target="#login-modal" >termo de uso e política de privacidade.</a></mat-checkbox>
                                 </div>                                 
                              </div>
                           </div>
                           
                        </mat-tab>
                     </mat-tab-group>
                     <div class="card-body container-fluid-form">
                        <div class="card-action">
                           <button mat-raised-button type="submit" class="btn btn-success pull-right" id="btnGravar"
                              [disabled]="form.invalid" (click)="onSalvar()">
                              Salvar
                           </button>
                        </div>
                     </div>
                  </form>
               </div>
               <app-site-aviso [tipoAviso]="tipoAviso" *ngIf="!showPainel"></app-site-aviso>

            </div>

         </div>
      </div>
   </div>
</div>