<div class="logo">
   <a class="simple-text logo-mini">
      <div class="logo-img">
         <img src="/assets/img/logo.png">
      </div>
   </a>
   <a href="https://www.inovvet.com.br/site" class="simple-text logo-normal"> inovvet </a>
</div>
<div class="sidebar-wrapper">
   <div *ngIf="isMobileMenu(); else menu">
      <mat-tab-group mat-align-tabs="center">
         <mat-tab>
            <ng-template mat-tab-label>
               <mat-icon>home</mat-icon>
            </ng-template>
            <ng-template *ngIf="!isMobileMenu(); else  menu" >
            </ng-template>
         </mat-tab>
         <mat-tab>
            <ng-template mat-tab-label>
               <mat-icon>stored</mat-icon>
            </ng-template>        
               <ul class="nav navbar-nav nav-mobile-menu">
                  <li li class="nav-item">
                     <a class="nav-link">
                        <i class="material-icons">stored</i>
                        <p>
                           <span class="d-lg-none d-md-block"><b>{{loja.nomeFantasia}}</b></span>
                        </p>
                     </a>
                  </li>
               </ul>   
            <mat-tab>
               <ng-template mat-tab-label>
                  <mat-icon>https</mat-icon>
               </ng-template>
               <ul class="nav navbar-nav nav-mobile-menu">
                  <li li class="nav-item">
                     <a class="nav-link" href="/">
                        <i class="material-icons">person</i>
                        <p>
                           <span class="d-lg-none d-md-block">{{usuario?.nome}}</span>
                        </p>
                     </a>
                  </li>              
                  <li li class="nav-item">
                     <a class="nav-link" (click)="logout()">
                        <i class="material-icons">logout</i>
                        <p>
                           <span class="d-lg-none d-md-block"><b>Sair</b></span>
                        </p>
                     </a>
                  </li>
   
               </ul>
            </mat-tab>
         </mat-tab>
      </mat-tab-group>
   </div>
  
   <ng-template #menu>
      <ul class="nav">
         <li routerLinkActive="active">
            <ul class="nav">
               <li routerLinkActive="active">
                  <a class="nav-link collapsed" data-toggle="collapse"  href="#cadastro" >
                     <i class="material-icons">view_module</i>
                     <p>Cadastros <b class="caret"></b></p>
   
                  </a>
                  <div class="collapse" id="cadastro">
                     <ul class="nav">
                        <li routerLinkActive="active" *ngFor="let menuItem of GetMenu('cadastro')"
                           class="{{menuItem.class}} nav-item">
   
                           <a class="nav-link" [routerLink]="[menuItem.path]" *ngIf="menuItem.menuName ===''">
                              <i class="material-icons">{{menuItem.icon}}</i>
                              <p>{{menuItem.title}}</p>
                           </a>
   
                           <a class="nav-link collapsed" data-toggle="collapse" href="#{{menuItem.menuName}}"
                              *ngIf="menuItem.menuName !==''">
                              <i class="material-icons">{{menuItem.icon}}</i>
                              <p>{{menuItem.title}} <b class="caret"></b></p>
                           </a>
                           <div class="collapse" id="{{menuItem.menuName}}" *ngIf="menuItem.menuName !==''">
                              <ul class="nav">
                                 <li routerLinkActive="active" *ngFor="let menuItem of GetMenu(menuItem.menuName)"
                                    class="{{menuItem.class}} nav-item">
                                    <a class="nav-link" [routerLink]="[menuItem.path]">
                                       <i class="material-icons">{{menuItem.icon}}</i>
                                       <p>{{menuItem.title}}</p>
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </li>
                     </ul>
                  </div>
               </li>
               <li routerLinkActive="active">
                  <a class="nav-link collapsed" data-toggle="collapse" href="#gerencial">
                     <i class="material-icons">vertical_split</i>
                     <p>Gerencial <b class="caret"></b></p>      
                  </a>
                  <div class="collapse" id="gerencial">
                     <ul class="nav">
                        <li routerLinkActive="active" *ngFor="let menuItem of GetMenu('gerencial')"
                           class="{{menuItem.class}} nav-item">
                           <a class="nav-link" [routerLink]="[menuItem.path]">
                              <i class="material-icons">{{menuItem.icon}}</i>
                              <p>{{menuItem.title}}</p>
                           </a>
                        </li>
                     </ul>
                  </div>
               </li>
               <li routerLinkActive="active">
                  <a class="nav-link collapsed" data-toggle="collapse" href="#financeiro">
                     <i class="material-icons">monetization_on</i>
                     <p>Financeiro <b class="caret"></b></p>
                  </a>
               </li>
            </ul>
         </li>
      </ul>
   </ng-template>
</div>