<div [formGroup]="formGroup">
    <mat-form-field [hintLabel]="hLabel">
        <mat-label>Selecione um Período</mat-label>
        <mat-date-range-input [formGroup]="fControlName" [rangePicker]="picker">
            <input matStartDate placeholder="ínicio"  formControlName="inicio">
            <input matEndDate   placeholder="fim"  formControlName="fim">
        </mat-date-range-input>
        
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
       
        <mat-date-range-picker #picker [startAt]="startDate"></mat-date-range-picker>
    </mat-form-field>
    <app-error-detail [control]="formControl"></app-error-detail>
</div>
