<app-master-form titulo="Cadastro Tipo Atendimento">
   <div class='content'>
      <div class="container-fluid">
         <form [formGroup]="form" appFormValidator autocomplete="off" novalidate>
            <mat-tab-group #matgroup (selectedIndexChange)="changeTab($event)" (selectedTabChange)="listarHorarios()" >
               <mat-tab label="Dados Cadastrais">
                  <div class="card-body container-fluid-form">
                     <div class="row">
                        <app-input-text formTitle="Código" fControlName="id" [formGroup]="form" class="col-md-1">
                        </app-input-text>

                        <app-input-text formTitle="Nome" fControlName="nome" [formGroup]="form" class="col-md-6"
                           hLabel="Obrigatório" foco="true"></app-input-text>

                        <app-input-select formTitle="Duração" fControlName="tempo" [formGroup]="form" class="col-md-3"
                           hLabel="Obrigatório" [opcoes]="tipos"></app-input-select>

                        <app-input-active fControlName="ativo" [formGroup]="form" class="col-md-2"></app-input-active>
                     </div>
                  </div>
               </mat-tab>
               <mat-tab label="Produtos">
                  <div class="card-body container-fluid-form">
                     <div class="row">
                        <div class="col-md-12">
                           <app-filtro-produto (changeAdicionar)="onAdicionarProduto($event)" [foco]="true"></app-filtro-produto>
                        </div>
                     </div>
                  </div>

                  <app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns" (edit)="onEdit($event)"
                     (delete)="onDelete($event)"></app-table>
               </mat-tab>

               <mat-tab label="Agenda">
                  <div class="card-body container-fluid-form">
                     <div class="row">
                        <input type="hidden" id="idAgenda" formControlName="id" [formGroup]="formAgenda">
                        <app-input-select formTitle="Dia Semana" fControlName="dia" [formGroup]="formAgenda" class="col-md-4"
                           hLabel="Obrigatório" [opcoes]="semana" focusDirective></app-input-select>

                        <app-input-select formTitle="Horário" fControlName="hora" [formGroup]="formAgenda" class="col-md-4"
                           hLabel="Obrigatório" [opcoes]="horarios"></app-input-select>

                        <app-input-number formTitle="Vaga" fControlName="vaga" [formGroup]="formAgenda" class="col-md-2">
                        </app-input-number>
                        <mat-action-row>
                           <app-button name="btnAdicionarPreco" label="Adicionar" type="success" size="small" (cClick)="onAdicionarAgenda()"></app-button>
                       </mat-action-row>

                     </div>
                  </div>

                  <app-table [dataSource]="dataSourceAgenda" [displayedColumns]="displayedColumns_agenda"
                     (edit)="onEditAgenda($event)" (delete)="onDeleteAgenda($event)"></app-table>
               </mat-tab>
            </mat-tab-group>
            <app-button-form [formGroup]="form" (save)="onSalvar()" (next)="onProximo(matgroup)"  [isSave]="isSave"></app-button-form>
         </form>
      </div>
   </div>
</app-master-form>