<app-master-form titulo="Cadastro de Departamento">
   <div class='content'>
      <div class="container-fluid">
         <form [formGroup]="form" appFormValidator autocomplete="off" novalidate (ngSubmit)="onSalvar()">
            <mat-tab-group #matgroup>
               <mat-tab label="Dados Cadastrais">
                  <div class="card-body container-fluid-form">
                     <div class="row">
                        <app-input-text formTitle="Código" fControlName="id" [formGroup]="form" class="col-md-1" ></app-input-text>
                        <app-input-text formTitle="Nome"   fControlName="nome" [formGroup]="form" class="col-md-5" hLabel="Obrigatório" 
                           foco="true"></app-input-text>
         
                        <div class="col-md-4">
                           <app-seguimento [formGroup]="form" fControlName="seguimento" [seguimento]="seguimento"></app-seguimento>
                        </div>
                        <app-input-active fControlName="ativo"  [formGroup]="form" class="col-md-2"></app-input-active>
                     </div>
                  </div>
               </mat-tab>
            </mat-tab-group>
            <app-button-save [formGroup]="form"></app-button-save>
         </form>
      </div>
   </div>
</app-master-form>